In [0]:
import pandas as pd
import io

In [0]:
from google.colab import files

In [0]:
uploaded = files.upload()

Saving covid_19_data.csv to covid_19_data (1).csv

In [0]:
uploaded_1 = files.upload()

Saving metadata.csv to metadata (2).csv

In [0]:
uploaded_2 = files.upload()

Saving sars_results.csv to sars_results.csv
Saving mers_results.csv to mers_results.csv
Saving master_results_table.csv to master_results_table (1).csv

#Exploring Challenge 1: Answering 10 Questions Based on Collected Research Papers

In [0]:
research_papers = pd.read_csv(io.BytesIO(uploaded_1['metadata.csv']))

In [0]:
research_papers.head()

   cord_uid  ...                             url
0  vho70jcx  ...  https://doi.org/10.1101/001727
1  i9tbix2v  ...  https://doi.org/10.1101/003889
2  62gfisc6  ...  https://doi.org/10.1101/006866
3  058r9486  ...  https://doi.org/10.1101/007476
4  wich35l7  ...  https://doi.org/10.1101/010389

[5 rows x 17 columns]

In [0]:
poss_train = research_papers[['title', 'abstract', 'authors']]

In [0]:
poss_train

                                                   title  ...                                            authors
0      SIANN: Strain Identification by Alignment to N...  ...  Samuel Minot; Stephen D Turner; Krista L Ternu...
1      Spatial epidemiology of networked metapopulati...  ...                                 Lin WANG; Xiang Li
2      Sequencing of the human IG light chain loci fr...  ...  Corey T Watson; Karyn Meltz Steinberg; Tina A ...
3      Bayesian mixture analysis for metagenomic comm...  ...                 Sofia Morfopoulou; Vincent Plagnol
4      Mapping a viral phylogeny onto outbreak trees ...  ...                 Stephen P Velsko; Jonathan E Allen
...                                                  ...  ...                                                ...
45769  Personal Protective Equipment: Protecting Heal...  ...  Fischer, William A.; Weber, David J.; Wohl, Da...
45770                                 Viruses and asthma  ...               Dulek, Daniel E.; Peebles, R. Stokes
45771                   Why the WHO won't use the p-word  ...                                  MacKenzie, Debora
45772  Communication, transparency key as Canada face...  ...                                     Glauser, Wendy
45773  Searching for animal models and potential targ...  ...  Vergara-Alert, Júlia; Vidal, Enric; Bensaid, A...

[45774 rows x 3 columns]

-------

# Exploring Challenge 2: Predicting the Spread of Corona Virus

In [0]:
predict_data = pd.read_csv(io.BytesIO(uploaded['covid_19_data.csv']))

In [0]:
predict_data.head()

   SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
0    1      01/22/2020          Anhui  ...       1.0    0.0        0.0
1    2      01/22/2020        Beijing  ...      14.0    0.0        0.0
2    3      01/22/2020      Chongqing  ...       6.0    0.0        0.0
3    4      01/22/2020         Fujian  ...       1.0    0.0        0.0
4    5      01/22/2020          Gansu  ...       0.0    0.0        0.0

[5 rows x 8 columns]

In [0]:
print(len(predict_data))

9424

In [0]:
predict_data

       SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
0        1      01/22/2020          Anhui  ...       1.0    0.0        0.0
1        2      01/22/2020        Beijing  ...      14.0    0.0        0.0
2        3      01/22/2020      Chongqing  ...       6.0    0.0        0.0
3        4      01/22/2020         Fujian  ...       1.0    0.0        0.0
4        5      01/22/2020          Gansu  ...       0.0    0.0        0.0
...    ...             ...            ...  ...       ...    ...        ...
9419  9420      03/27/2020        Wyoming  ...      70.0    0.0        0.0
9420  9421      03/27/2020       Xinjiang  ...      76.0    3.0       73.0
9421  9422      03/27/2020          Yukon  ...       3.0    0.0        0.0
9422  9423      03/27/2020         Yunnan  ...     180.0    2.0      172.0
9423  9424      03/27/2020       Zhejiang  ...    1247.0    1.0     1222.0

[9424 rows x 8 columns]

In [0]:
count_by_country = predict_data.groupby('Country/Region').count().reset_index()

In [0]:
count_by_country

                     Country/Region  SNo  ...  Deaths  Recovered
0                        Azerbaijan    1  ...       1          1
1                   ('St. Martin',)    1  ...       1          1
2                       Afghanistan   33  ...      33         33
3                           Albania   19  ...      19         19
4                           Algeria   32  ...      32         32
..                              ...  ...  ...     ...        ...
206                         Vietnam   65  ...      65         65
207              West Bank and Gaza    2  ...       2          2
208                          Zambia   10  ...      10         10
209                        Zimbabwe    8  ...       8          8
210  occupied Palestinian territory    7  ...       7          7

[211 rows x 8 columns]

In [0]:
count_by_country[count_by_country['Country/Region'] == 'Indonesia']

   Country/Region  SNo  ObservationDate  ...  Confirmed  Deaths  Recovered
93      Indonesia   26               26  ...         26      26         26

[1 rows x 8 columns]

# Exploring Challenge 3: Finding Drug for Covid-19 Using MERS & SARS Data

In [0]:
all_data = pd.read_csv(io.BytesIO(uploaded_2['master_results_table.csv']))

In [0]:
all_data.head()

     id  gen  ...     source score
0  AAAA    0  ...  generated  99.9
1  AAAB    0  ...  generated  99.9
2  AAAC    0  ...   training  99.9
3  AAAD    0  ...  generated  99.9
4  AAAE    0  ...  generated  99.9

[5 rows x 5 columns]

In [0]:
mers_data = pd.read_csv(io.BytesIO(uploaded_2['mers_results.csv']))

In [0]:
mers_data

                                   Unnamed: 0  Connectivity   P_value
0                               valproic acid     -0.376625  0.003320
1                                 flupentixol     -0.269090  0.003384
2                               syrosingopine     -0.318895  0.003397
3                             levomepromazine     -0.329905  0.003427
4                                 eucatropine     -0.288555  0.003468
...                                       ...           ...       ...
1283                                semustine      0.000000  1.000000
1284                                CP-944629      0.000000  1.000000
1285                               irinotecan      0.000000  1.000000
1286                                BCB000039      0.000000  1.000000
1287  11-deoxy-16,16-dimethylprostaglandin E2      0.000000  1.000000

[1288 rows x 3 columns]